@model PMotoWeb.ViewModels.MotoStatsViewModel
@{
    ViewBag.Title = "MotoGP Stats - Season Stats";
}
@section scripts{
    <script>
    $(document).ready(function () {
        $("#tableStats").bootstrapTable();
        //RankingFormatter();
    });
    function callChangefunc(val) {
        window.location.href = "/MotoStats/Index?selectedSeasonId=" + val;
        }
    function RankingFormatter(value, row) {
        var color = "";
        isMotoGPCat = ("@(Model.RiderStats.First().RiderSessions.First().Session.Gp.Season.Category == Moto.Data.Categories.MotoGP)" == "True");
        if (isMotoGPCat) {
            var avg = (Number(row.race) + Number(row.qual) + Number(row.fp4) + Number(row.wup)) / 4;
        }
        else {
            var avg = (Number(row.race) + Number(row.qual) + Number(row.wup)) / 3;
        }
        //alert("race:" + row.race + ";qual" + row.qual + ";fp4:" + row.fp4 + ";wup:" + row.wup+";avg=" + avg+";value="+value);
        icon = "";
        if (value < avg - 3) {
            color = "MediumSeaGreen";
            icon = ' <img src="/img/green-arrow-up-16.png" width="16" height="16"></img>';
            return '<span class="badge badge-success" >' + value + '</span>';// + icon;
        }
        else if (value > avg + 3) {
            color = "red";
            icon = ' <img src="/img/red-arrow-down-16.png" width="16" height="16"></img>';
            return '<span class="badge badge-danger" >' + value + '</span>';// + icon;
        }
        return '<span class="badge badge-light" >' + value + '</span>';
    }
    </script>
}
<h2>MotoGP Stats</h2>
<div class="row">
    Official 2020 World Ranking points for Races vs&nbsp;<span class="font-weight-bold">simulation of points for Qualifying/Warm-Up/FP4&nbsp;</span> sessions rankings
</div>
<div class="row">
    <span style="background-color:MediumSeaGreen">Green </span>/<span style="background-color: red"> Red</span>&nbsp; will show where the rider over/under perform versus the average of all the different overall sessions rankings.
</div>
<hr />
<div class="row">
    @Html.DropDownListFor(model => model.SelectedSeasonId, new SelectList(Model.Seasons, "SeasonId", "Label"), "--select season--"
           , new { @onchange = "callChangefunc(this.value)", @class = "custom-select" })
</div>
<div class="row mt-1">
    <div class="col-sm-10">
        <!--class="table table-striped table-hover table-sm table-condensed sortable">-->
        <table id="tableStats" data-toggle="table"
               data-pagination="true" data-page-size="15" data-page-list="[15, All]" data-locale="en-US"
               class="table table-striped table-hover table-sm" data-detail-view="true">
            <thead>
                <tr class="thead-light">
                    <th data-field="race" data-sortable="true" data-formatter="RankingFormatter" class="font-weight-bold">Race</th>
                    <th data-sortable="true" class="font-weight-bold">Rider</th>
                    <th data-field="qual" data-sortable="true" data-formatter="RankingFormatter">Qual</th>
                    <th data-field="wup" data-sortable="true" data-formatter="RankingFormatter">Wup</th>
                    @if (Model.RiderStats.First().RiderSessions.First().Session.Gp.Season.Category == Moto.Data.Categories.MotoGP)
                    {
                        <th data-field="fp4" data-sortable="true" data-formatter="RankingFormatter">Fp4</th>
                    }
                    <th data-field="racePts" data-sortable="true" class="table-secondary">@Html.DisplayNameFor(m => m.RiderStats.First().RacePoints)</th>
                    <th data-field="qualPts" data-sortable="true" class="small table-secondary">@Html.DisplayNameFor(m => m.RiderStats.First().QualifyingPts)</th>
                    <th data-field="wupPts" data-sortable="true" class="small table-secondary">@Html.DisplayNameFor(m => m.RiderStats.First().WupPoints)</th>
                    @if (Model.RiderStats.First().RiderSessions.First().Session.Gp.Season.Category == Moto.Data.Categories.MotoGP)
                    {
                        <th data-field="fp4Pts" data-sortable="true" class="small table-secondary">@Html.DisplayNameFor(m => m.RiderStats.First().Fp4Points)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RiderStats)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(p => item.RaceRank)
                        </td>
                        <td>
                            @Html.DisplayFor(p => item.RiderName)
                        </td>
                        <td>
                            @Html.DisplayFor(p => item.QualifyingRank)
                        </td>
                        <td>
                            @Html.DisplayFor(p => item.WupRank)
                        </td>
                        @if (Model.RiderStats.First().RiderSessions.First().Session.Gp.Season.Category == Moto.Data.Categories.MotoGP)
                        {
                            <td>
                                @Html.DisplayFor(p => item.Fp4Rank)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(p => item.RacePoints)
                        </td>
                        <td>
                            @Html.DisplayFor(p => item.QualifyingPts)
                        </td>
                        <td>
                            @Html.DisplayFor(p => item.WupPoints)
                        </td>
                        @if (Model.RiderStats.First().RiderSessions.First().Session.Gp.Season.Category == Moto.Data.Categories.MotoGP)
                        {
                            <td>
                                @Html.DisplayFor(p => item.Fp4Points)
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div class="small font-italic">25, 20, 16..1 pts for 1st/ 2nd/ 3rd../15th place in each session (Moto3 not fully updated for 2020)</div>
        <div class="small font-italic">Colors are given by comparing the ranking for the session against the average ranking for all sessions</div>
    </div>
</div>
