@{
    ViewBag.Title = "Home Page";
}
@model PMotoWeb.ViewModels.HomeViewModel


<script>
    $(document).ready(function () {
        $("#tableListGp").bootstrapTable();
    }
</script>

<div class="row"><h1>Data visualization for MotoGP</h1></div>
<div class="row">Quickly compare the best laps from each rider.</div>
<div class="row">Filter lap times by used tyres.</div>
<div class="row">
    <span class="font-weight-bold">NEWS (19/11/20): You can now select the used tyres options for Moto2 and Moto3</span>
    <span>The values are not available from the official data but will be estimated using 0 lap for both tyres since the last pit stop</span>
    <span>Please share the website using the Tweeter button at the bottom.</span>
</div>
<div class="row">
    <div class="col-9">
        <!--class="table table-striped table-hover table-sm table-condensed sortable">-->
        <table id="tableListGp" data-toggle="table" data-search="true"
               data-pagination="true" data-page-size="9" data-page-list="[9, All]" data-locale="en-US" data-filter-control="true"
               class="table table-striped table-hover table-sm ">
            <thead>
                <tr class="danger">
                    <th data-field="id" data-sortable="true">#</th>
                    <th data-field="race" data-sortable="true">Race</th>
                    <th data-field="category" data-filter-control="select" data-filter-default="c500" data-sortable="true">Category</th>
                    <th scope="col">Link</th>
                    <th scope="col" data-sortable="true">Date</th>
                    <th scope="col"></th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListGpsForCategory)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(p => item.GpIdInSeason)
                        </td>
                        <td>
                            @Html.DisplayFor(p => item.Name)
                        </td>
                        <td>
                            @{ string nameCat = (item.Season.Category == Moto.Data.Categories.c500) ? "MotoGP" : ((item.Season.Category == Moto.Data.Categories.c250) ? "Moto2" : "Moto3");
                            }
                            @Html.DisplayFor(p => nameCat)
                        </td>
                        <td>
                            @Html.ActionLink("Sessions", "Index", "GpResults", new { id = item.GpId }, null)
                        </td>
                        <td>
                            @{ string dateStr = item.Date.ToShortDateString();
                            }
                            @Html.DisplayFor(p => dateStr)
                        </td>
                        <td>
                            <a href="@item.UrlWeather" target="_blank">
                                <img border="0" alt="Weather" src="/img/weatherCOM.jpg" width="25" height="25">
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(p => item.Note)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="true">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


